@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        overflow-x: hidden;
        width: 100%;
        max-width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
        color: #000;
    }

    * {
        /* border: 1px solid; */
        cursor: default;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@layer components {
    .btn-geo {
        background-color: #2fbc9b;
        width: theme("width.fit");
        padding: theme("padding.3") theme("padding.8") theme("padding.3") theme("padding.8");
        border-radius: theme("borderRadius.full");
        color: theme("colors.gray.800");
    }
}
