@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        scroll-behavior: smooth;
        overflow-x: hidden;
        font-family: "Poppins", sans-serif;
        color: #000;
    }

    a,
    p,
    h1,
    h2,
    h3 {
        cursor: default;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
