@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        font-family: "Lato", sans-serif;
        font-weight: 100;
    }
}

section {
    scroll-margin-top: 10dvh;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

a,
p,
h1,
h2,
h3 {
    cursor: default;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
